@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Black Child Tutoring Services</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <!-- Add additional styles if needed -->
</head>
<div>
    <span class="et_pb_image_wrap "><img decoding="async" loading="lazy" width="700" height="550" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/10/bts-final-marathon.png" alt="" title="bts final marathon" srcset="https://blackchildtutoring.co.za/wp-content/uploads/2023/10/bts-final-marathon.png 1073w, https://blackchildtutoring.co.za/wp-content/uploads/2023/10/bts-final-marathon-980x978.png 980w, https://blackchildtutoring.co.za/wp-content/uploads/2023/10/bts-final-marathon-480x479.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1073px, 100vw" class="wp-image-1304"></span>

</div>
<br />
<br />
<br />
<br />
<div>
    <span class="et_pb_image_wrap "><img decoding="async" loading="lazy" width="700" height="550" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/10/Road-to-final-exam.png" alt="" title="Road to final exam" srcset="https://blackchildtutoring.co.za/wp-content/uploads/2023/10/Road-to-final-exam.png 991w, https://blackchildtutoring.co.za/wp-content/uploads/2023/10/Road-to-final-exam-980x938.png 980w, https://blackchildtutoring.co.za/wp-content/uploads/2023/10/Road-to-final-exam-480x460.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 991px, 100vw" class="wp-image-1293"></span>

</div>
<br />
<br />

<div>
    <span class="et_pb_image_wrap "><img decoding="async" loading="lazy" width="700" height="530" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/08/BTS-Intense-Exam-Preperation.jpg" alt="" title="BTS Intense Exam Preperation" srcset="https://blackchildtutoring.co.za/wp-content/uploads/2023/08/BTS-Intense-Exam-Preperation.jpg 1600w, https://blackchildtutoring.co.za/wp-content/uploads/2023/08/BTS-Intense-Exam-Preperation-1280x1280.jpg 1280w, https://blackchildtutoring.co.za/wp-content/uploads/2023/08/BTS-Intense-Exam-Preperation-980x980.jpg 980w, https://blackchildtutoring.co.za/wp-content/uploads/2023/08/BTS-Intense-Exam-Preperation-480x480.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) and (max-width: 1280px) 1280px, (min-width: 1281px) 1600px, 100vw" class="wp-image-1207"></span>

</div>
</html>

