@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Branches</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Protea Campus Branch </h4>
        <p class="card-text">
            Location: Soweto <br />
            Email: proteacampus@bts.co.za<br />
            Contact: 073 102 2724
        </p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h4 class="card-title">Dobsonville Branch </h4>
        <p class="card-text">
            Location: Soweto<br />
            Email: dobsonvillecampus@bts.co.za<br />
            Contact: 078 017 0511
        </p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h4 class="card-title">Meadowlands-High Branch </h4>
        <p class="card-text">
            Location: Soweto<br />
            Email: meadowlands-high@bts.co.za<br />
            Contact: 073 102 2724
        </p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <h4 class="card-title">Pimville Branch </h4>
        <p class="card-text">
            Location: Soweto<br />
            Email: pimvillecampus@bts.co.za<br />
            Contact: 069 421 9066
        </p>
    </div>
</div>
<!-- Add more branches as needed -->


