@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Black Child Tutoring Services</h2>
<div>
<span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img decoding="async" width="64" height="64" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/03/Minimal-Generic-Portfolio-icon-16.png" alt="" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-82 et-animated"></span>
<div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>Email</span></h4>
                        <div class="et_pb_blurb_description"><p><a href="mailto:info@blackchildtutoring.co.za">info@blackchildtutoring.co.za</a></p></div>
                    </div>
</div>

<div>
    <span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img decoding="async" width="64" height="64" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/03/Minimal-Generic-Portfolio-icon-15.png" alt="" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-83 et-animated"></span>
    <div class="et_pb_blurb_container">
        <h4 class="et_pb_module_header"><span>Phone</span></h4>
        <div class="et_pb_blurb_description"><p><a href="tel:+27106342331">010 634 2331</a></p></div>
    </div>

</div>
<div>

    <span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img decoding="async" width="64" height="64" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/03/Minimal-Generic-Portfolio-icon-17.png" alt="" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-84 et-animated"></span>
    <div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>Head Office</span></h4>
                        <div class="et_pb_blurb_description"><p>47 Thula Street, Meadowlands Zone 10, Johannesburg Central, 1852</p></div>
                    </div>

</div>

<div>
    <span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img decoding="async" width="64" height="64" src="https://blackchildtutoring.co.za/wp-content/uploads/2023/03/Minimal-Generic-Portfolio-icon-18.png" alt="" class="et-waypoint et_pb_animation_off et_pb_animation_off_tablet et_pb_animation_off_phone wp-image-85 et-animated"></span>
    <div class="et_pb_blurb_container">
                        <h4 class="et_pb_module_header"><span>Trading Hours</span></h4>
                        <div class="et_pb_blurb_description"><p>Mon – Fri: 8am – 5:00 pm<br>Sat – Sun: 8 am – 4:00 pm</p></div>
                    </div>
</div>

<br />
<br />




<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.2385689841253!2d27.887441511586665!3d-26.22143676458169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a1b2786efa99%3A0x8f9cf67a838c743c!2sBlack%20child%20tutoring%20services!5e0!3m2!1sen!2sie!4v1698664599579!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
