@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Our Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meet Our Team</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="\Images\WhatsApp Image 2023-10-28 at 03.56.29.jpeg" class="card-img-top" alt="Team Member 1">
            <div class="card-body">
                <h5 class="card-title">Kabelo Malema</h5>
                <p class="card-text">Founder & CEO</p>
            </div>
        </div>
    </div>
</div>
<br/>
<br />

    <div class="col-md-4">
        <div class="card">
            <img src="\Images\WhatsApp Image 2023-10-27 at 16.19.06.jpeg" class="card-img-top" alt="Team Member 2">
            <div class="card-body">
                <h5 class="card-title">Ntokozo Nyembe</h5>
                <p class="card-text">Head Tutor</p>
            </div>
        </div>
    </div>
<br />
<br />
    <div class="col-md-4">
        <div class="card">
            <img src="\Images\WhatsApp Image 2023-10-28 at 04.24.42.jpeg" class="card-img-top" alt="Team Member 3">
            <div class="card-body">
                <h5 class="card-title">Mohlala Nakana</h5>
                <p class="card-text"> Tutor</p>
            </div>
        </div>
    </div>
<br />
<br />
    <div class="col-md-4">
        <div class="card">
            <img src="images/team_member4.jpg" class="card-img-top" alt="Team Member 4">
            <div class="card-body">
                <h5 class="card-title">Vuyo Mpondo </h5>
                <p class="card-text"> Tutor</p>
            </div>
        </div>
    </div>

