@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Tutoring Timetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tutoring Timetable</h2>

<div class="timetable">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time  Grade10</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10:00 AM - 12:00 PM</td>
                <td>Math</td>
                <td>English</td>
                <td>Science</td>
                <td>History</td>
                <td>Math</td>
            </tr>

            <!-- Add more rows for additional time slots -->
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time  Grade 11</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08:00 AM - 10:00 PM</td>
                <td>Life Science</td>
                <td>Economics</td>
                <td>English</td>
                <td>Math</td>
                <td>Geography</td>
            </tr>

            <!-- Add more rows for additional time slots -->
        </tbody>
    </table>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time  Grade 8</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08:00 AM - 13:00 PM</td>
                <td>Natural Science</td>
                <td>Creative Arts</td>
                <td>English</td>
                <td>Math</td>
                <td>Geography</td>
            </tr>

            <!-- Add more rows for additional time slots -->
        </tbody>
    </table>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time  Grade 12</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12:00 AM - 14:00 PM</td>
                <td>History</td>
                <td>Economics</td>
                <td>Accounting</td>
                <td>Maths</td>
                <td>Geography</td>
            </tr>

            <!-- Add more rows for additional time slots -->
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Time  Grade 9</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>09:00 AM - 13:30 PM</td>
                <td>History</td>
                <td>Life Orientation</td>
                <td>English</td>
                <td>Maths</td>
                <td>Geography</td>
            </tr>

            <!-- Add more rows for additional time slots -->
        </tbody>
    </table>
</div>

